@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i&display=swap');
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import "variables";
@import "mixins/index";

@import "modules/chat/chat";
@import "modules/shared/index";


html,
body{
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin-bottom: 0;
}

a{
  color: #00caca
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scroller */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  /* Track */
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  /* Handle */
  background: #00000040;
}

::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
  background: #00000020;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.cursor {
  cursor: pointer;
}

.filled__icon {
  padding: 6px;
  border-radius: 50%;
  color: #fff;
  background-color: #36c8a9;
}
